<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.mmcsoftware.opx"
        versionCode="101" 
        version   = "1.0.1">

    <name>SpyGraph</name>
	
	<icon src="icon.png" />
	<icon src="logo72.png" gap:platform="android" gap:density="hdpi" />
	<icon src="logo96.png" gap:platform="android" gap:density="xhdpi" />
	
	<preference name="orientation" value="landscape" />
	<preference name="target-device" value="tablet" /> <!-- think this is unsupported still -->
	<preference name="fullscreen" value="true" />
	<access origin="*" />
</widget>